# Building a Match class
In order to get the full information for each player and their career, we are going to want to be able to link to a given match. In this way we might be able to gain some context to the performance that is shown in the summary of their career innings.

In [1]:
# Imports
from classes.Cricketer import Cricketer
from classes.Innings import Innings 
from bs4 import BeautifulSoup
import requests
import pandas as pd

Let's declare the variables and create the innings objects that we want to be returned by our match object.

In [2]:
match = 'https://www.espncricinfo.com/ci/engine/match/565809.html'
soup = BeautifulSoup(requests.get(match).text, features="html.parser")
scorecard_class = 'sub-module scorecard'
scorecard_modules = soup.find_all('article', {"class": "sub-module scorecard"})
number_of_innings = len(scorecard_modules)

In [3]:
first_innings = Innings(scorecard_modules[0])
second_innings = Innings(scorecard_modules[1])
third_innings = Innings(scorecard_modules[2])

In [4]:
first_innings.batting()

,batsman,how_out,runs,balls_faced,minutes,fours,sixes,strike_rate,is_out,is_keeper,is_captain
1,AN Cook,lbw b Sharma,1,28,44,0,0,3.57,True,False,True
2,NRD Compton,c †Dhoni b Sharma,3,12,16,0,0,25.00,True,False,False
3,IJL Trott,b Jadeja,44,133,168,7,0,33.08,True,False,False
4,KP Pietersen,c Ojha b Jadeja,73,188,202,10,0,38.82,True,False,False
5,IR Bell,c Kohli b Chawla,1,28,38,0,0,3.57,True,False,False
6,JE Root,c & b Chawla,73,229,289,4,0,31.87,True,False,False
7,MJ Prior,b Ashwin,57,142,179,6,0,40.14,True,True,False
8,TT Bresnan,lbw b Sharma,0,2,4,0,0,0.00,True,False,False
9,GP Swann,lbw b Chawla,56,91,96,6,2,61.53,True,False,False
10,JM Anderson,c Pujara b Chawla,4,17,24,0,0,23.52,True,False,False
11,MS Panesar,not out,1,5,8,0,0,20.00,False,False,False

In [5]:
second_innings.batting()

,batsman,how_out,runs,balls_faced,minutes,fours,sixes,strike_rate,is_out,is_keeper,is_captain
1,G Gambhir,c †Prior b Anderson,37,93,133,4,0,39.78,True,False,False
2,V Sehwag,b Anderson,0,2,2,0,0,0.00,True,False,False
3,CA Pujara,c Bell b Swann,26,72,87,3,0,36.11,True,False,False
4,SR Tendulkar,b Anderson,2,13,25,0,0,15.38,True,False,False
5,V Kohli,lbw b Swann,103,295,356,11,0,34.91,True,False,False
6,MS Dhoni,run out (Cook),99,246,398,8,1,40.24,True,True,True
7,RA Jadeja,lbw b Anderson,12,31,31,2,0,38.70,True,False,False
8,R Ashwin,not out,29,65,91,0,0,44.61,False,False,False
9,PP Chawla,b Swann,1,2,5,0,0,50.00,True,False,False
10,PP Ojha,b Panesar,3,32,47,0,0,9.37,True,False,False
11,I Sharma,not out,2,7,13,0,0,28.57,False,False,False

In [6]:
third_innings.batting()

,batsman,how_out,runs,balls_faced,minutes,fours,sixes,strike_rate,is_out,is_keeper,is_captain
1,AN Cook,c †Dhoni b Ashwin,13,93,105,1,0,13.97,True,False,True
2,NRD Compton,lbw b Ojha,34,135,166,1,0,25.18,True,False,False
3,IJL Trott,c Kohli b Ashwin,143,310,405,18,0,46.12,True,False,False
4,KP Pietersen,b Jadeja,6,30,27,1,0,20.00,True,False,False
5,IR Bell,not out,116,306,403,16,1,37.90,False,False,False
6,JE Root,not out,20,56,64,1,1,35.71,False,False,False

In [7]:
from classes.Match import Match

In [8]:
match = Match('https://www.espncricinfo.com/ci/engine/match/565809.html')
match

We can now call the `first_innings()` method to get the innings object and print the details for the innings using the capabilities of the `Innings` class. This should leave use with an `Innings` object that we can use just as we would above.

In [13]:
# Get the batting scorecard from the first innings
match.first_innings().batting()

,batsman,how_out,runs,balls_faced,minutes,fours,sixes,strike_rate,is_out,is_keeper,is_captain
1,AN Cook,lbw b Sharma,1,28,44,0,0,3.57,True,False,True
2,NRD Compton,c †Dhoni b Sharma,3,12,16,0,0,25.00,True,False,False
3,IJL Trott,b Jadeja,44,133,168,7,0,33.08,True,False,False
4,KP Pietersen,c Ojha b Jadeja,73,188,202,10,0,38.82,True,False,False
5,IR Bell,c Kohli b Chawla,1,28,38,0,0,3.57,True,False,False
6,JE Root,c & b Chawla,73,229,289,4,0,31.87,True,False,False
7,MJ Prior,b Ashwin,57,142,179,6,0,40.14,True,True,False
8,TT Bresnan,lbw b Sharma,0,2,4,0,0,0.00,True,False,False
9,GP Swann,lbw b Chawla,56,91,96,6,2,61.53,True,False,False
10,JM Anderson,c Pujara b Chawla,4,17,24,0,0,23.52,True,False,False
11,MS Panesar,not out,1,5,8,0,0,20.00,False,False,False

In [14]:
# Find the fall of wickets in the final innings. 
match.third_innings().fall_of_wickets()

  wicket runs        out_batsman  overs partnership
0      1   48  Sir Alastair Cook   29.5          48
1      2   81       Nick Compton   46.4          33
2      3   94    Kevin Pietersen   55.5          13
3      4  302     Jonathan Trott  134.1         208

This match only contains 3 innings, so I have added in some error handling to return a simple statement if you try and access the fourth innings.

In [16]:
match.fourth_innings()

No fourth innings for this match.

In [17]:
match.third_innings().batting()

,batsman,how_out,runs,balls_faced,minutes,fours,sixes,strike_rate,is_out,is_keeper,is_captain
1,AN Cook,c †Dhoni b Ashwin,13,93,105,1,0,13.97,True,False,True
2,NRD Compton,lbw b Ojha,34,135,166,1,0,25.18,True,False,False
3,IJL Trott,c Kohli b Ashwin,143,310,405,18,0,46.12,True,False,False
4,KP Pietersen,b Jadeja,6,30,27,1,0,20.00,True,False,False
5,IR Bell,not out,116,306,403,16,1,37.90,False,False,False
6,JE Root,not out,20,56,64,1,1,35.71,False,False,False

In [18]:
match.result

'Match drawn'